#The makefile should in fact be ignored, because it will be generated automatically
#from build scripts.

#Cmake files also need to go.

makefile
MAKEFILE
Makefile
opcodes_*_tables.c
CMakeCache.txt
cmake_install.cmake
CMakeFiles/*
opcode_table_generator/makefile
opcode_table_generator/CMakeFiles/*
wlalink/CMakeFiles/*
wlalink/CMakeFiles/wlalink.dir/*
wlab/CMakeFiles/*
wlab/CMakeFiles/wlab.dir/*