
*       text=auto
*.txt   text
*.c     text
*.h     text
*.md    text
*.sh    text eol=lf
*.bat   text eol=crlf

# bat-files usually works with LF, but Windows users might have a better
# editing time with notepad and CRLF, because nodepad is dumb with LF

# Only used for Sphinx/documentation
*.rst   text
*.py    text
*.html  text
*.conf  text

Linkfile    text
linkfile    text
Makefile    text
makefile    text
*.s         text
*.i         text

README          text
INSTALL         text
LICENSE         text
CHANGELOG       text
FILE_FORMATS    text

# Legacy
SCOPTIONS   text
amiga       text
amigaos4    text
makefile.*  text
smakefile   text
scoptions.* text
smake.*     text
historical/wlad_new/makefile.win32* text eol=crlf

# Is there any binary files in this repository?
# Better be safe.
*.exe   binary
*.bin   binary
*.gb    binary
historical/makefiles/*make*.gb -binary
*.smc   binary
*.sfc   binary
*.o     binary
*.lib   binary

