trigger:
- master
- main

stages:
- stage: Sanitizer_Testing
  jobs:
  - job: Linux_Sanitizers
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: |
        sudo apt-get update
        sudo apt-get install -y clang
        chmod +x run_tests_with_sanitizers.sh
        ./run_tests_with_sanitizers.sh
      displayName: 'Run Linux Sanitizer Suite'
