CC = gcc
CFLAGS = -mtune=i486 -c -O3 -ansi -pedantic -Wall -DMSDOS -D@CPU_DEFINE -DNDEBUG=1
LD = gcc
LDFLAGS = -lm

OFILES = @OFILES

all: $(OFILES)
	$(LD) $(LDFLAGS) $(OFILES) -o w-@CPU.exe


@RULES


clean:
	DEL /F /Q *.o; DEL /F /Q *.d; del w-@CPU.exe
